doctype html
html
  head
    title danceAcademy
    block scripts
    block style 
      
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/img/logo.png", alt="logo")
                p Dance 
                p.sec Academy
            li #[a(href='/') Home ]
            li #[a(href='/') About us]
            li #[a(href='/') Services ]
            li #[a(href='/') Class info]
            li #[a(href='/contact') Contact us]
    block content
    footer#footer 
        |Copyright© 2022 www.danceAcedemy.com | all rights reserved